<h1>Password Generator</h1>

<div>
  <label for="length">Enter Length</label>
  <input (input)="onChangeLength($any($event.target).value)" /> <!-- fix error -->
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeIncludeSymbols()" type="checkbox" />
</div>

<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()"
  >
    Generate!
  </button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="password" />
</div>