
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Lunghezza password</label><br>
        <input (input)="onChangeLength($any($event.target).value)" /> <!-- fix error -->
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Usa le lettere minuscole
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLettersM()" type="checkbox" />
            Usa le lettere maiuscole
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Usa i numeri
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Usa i simboli
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers || includeLettersM))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Genera la password
      </button>

      <div class="box" *ngIf="password">
        <label>Ecco la tua password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>